<template name="job">
{{> search}}
<div class="container tab">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><i class="fa fa-suitcase"></i></th>
                        <th><input type="text" class="form-control" placeholder="Job Title" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Job Description" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Contact" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Category" disabled></th>
                    </tr>

                </thead>
                {{#each jobs}}
                <tbody>
                    <tr>   
                        <td><i class="fa fa-thumb-tack"></i></td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{contact}}</td>
                        <td>{{category}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>
</div>

{{> display}}

</template>


<template name="jobsForm">
  <!-- Button trigger modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Jobs Board</h4>
        </div>
        <form role="form">
        <div class="modal-body">
          
           <div class="form-group">
            <label for="name">Job Title</label>
            <input type="text" class="form-control" id="title" 
            placeholder="Title">
          </div>
          <div class="form-group">
            <label for="desc">Job Description</label>
            <textarea class="form-control" rows="3" placeholder="Description" id="desc"></textarea>
          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input type="email" class="form-control" id="contact" 
            placeholder="Email">
          </div>
          <select class="form-control">
          <label for="category">Category</label>
            <option>Administration</option>
            <option>Kitchen</option>
            <option>Driver</option>
            <option>Cleaner</option>
            <option>Painter</option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="submit-form">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
</template>



